* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 2000px;
  background-image: linear-gradient(140deg,
      #e0f9b5 0%,
      #fefdca 50%,
      #ffcfdf 75%);
}

a {
  text-decoration: none;
  color: #000;
}

#dropdown {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 200px;
}

#dropdown>.btn-dropdown {
  font-size: 50px;
  border-radius: 15px;
  width: 350px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
}

#dropdown:focus-within .sub-dropdown {
  display: block;
}

#dropdown>.btn-dropdown:hover {
  background-color: #000;
}

.icon-dropdown {
  align-self: center;
  padding-left: 10px;
}

.sub-dropdown li {
  padding-left: 70px;
  line-height: 50px;
  font-size: 30px;
  list-style-type: none;
}

.sub-dropdown li:hover {
  color: #000;
  background-color: #ccc;
  border-radius: 15px;
}

.sub-dropdown {
  display: none;
  position: absolute;
  width: 450px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#header {
  margin-top: 20px;
  background-color: #343a40;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#header .nav .menu-header-btn {
  display: none;
}

.nav>li>a {
  font-size: 30px;
  line-height: 80px;
  color: white;
}

.nav>.normal-btn>a:hover {
  color: #17a2b8;
}

.disable-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

#search {
  line-height: 80px;
}

.search-input {
  padding: 10px;
  margin-left: 100px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: large;
}

.search-btn {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  color: #17a2b8;
  background-color: transparent;
  border-color: #17a2b8;
  font-size: large;
  cursor: pointer;
}

.search-btn:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

#nav-dropdown {
  display: flex;
  flex-direction: column;
}

#nav-dropdown>.nav-btn-dropdown {
  display: flex;
  justify-content: center;
}

.nav-icon-dropdown {
  align-self: center;
  padding-left: 10px;
}

.nav-sub-dropdown li {
  padding-left: 70px;
  line-height: 50px;
  font-size: 30px;
  list-style-type: none;
}

#nav-dropdown:focus-within .nav-sub-dropdown {
  display: block;
}

.nav-sub-dropdown li:hover {
  background-color: #eeeeee;
  border-radius: 15px;
}

.nav-sub-dropdown a:hover {
  color: #00adb5;
}

.nav-sub-dropdown {
  display: none;
  position: absolute;
  top: 80px;
  border-radius: 15px;
  width: 450px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.featured-merchandising {
  grid-area: fM;
  background-color: red;
}

.header {
  grid-area: header;
  background-color: #000;
}

.side-bar {
  grid-area: side-bar;
  background-color: green;
}

.products {
  grid-area: products;
  background-color: blue;
}

.feature2 {
  grid-area: f2;
  margin-bottom: calc(94.4px / 2);
  background-color: red;
}

.feature3 {
  grid-area: f3;
  background-color: red;
}

.bonus1 {
  grid-area: bonus1;
  background-color: rgba(255, 0, 0, 0.5);
}

.bonus2 {
  grid-area: bonus2;
  background-color: rgba(255, 0, 0, 0.5);
}

.bonus3 {
  grid-area: bonus3;
  background-color: rgba(255, 0, 0, 0.5);
}

.bonus4 {
  grid-area: bonus4;
  background-color: rgba(255, 0, 0, 0.5);
}

.footer {
  grid-area: footer;
  background-color: orange;
}

#layout {
  display: grid;
  grid-template-areas:
    "fM fM fM fM fM header header header header header header header"
    "side-bar side-bar products products products products products products products products f2 f2"
    "side-bar side-bar products products products products products products products products . ."
    "side-bar side-bar bonus1 bonus1 . . . . bonus3 bonus3 f3 f3"
    "side-bar side-bar . . bonus2 bonus2 . . . . bonus4 bonus4"
    "side-bar side-bar footer footer footer footer footer footer footer footer footer footer";
  gap: 10px;
  color: white;
  padding: 10px;
  cursor: pointer;
}

#layout>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#ex4 {
  display: flex;
  flex-direction: column;
}

#card {
  width: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.cover-img {
  width: calc(175px * 2);
  height: 20vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-image: url(../assets/img/f-code.png);
  background-size: inherit;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.avt {
  position: absolute;
  z-index: 1;
  width: 175px;
  height: 175px;
  top: calc(20vh - 175px / 2);
  border-radius: 100%;
  background: url(../assets/img/dhn.jpg);
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.text-container {
  width: calc(175px * 2);
  height: 60vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.text-container>.aboutMe {
  position: absolute;
  padding: 20px;
  right: 0;
  font-size: 30px;
}

.name {
  position: absolute;
  top: 100px;
  align-self: center;
}

.job {
  position: absolute;
  top: 130px;
  align-self: center;
  opacity: 0.6;
}

.follow {
  display: flex;
  justify-content: space-around;
  margin-top: calc(350px / 2);
  text-align: center;
}

.follow h2 {
  font-size: 30px;
  color: #3490de;
  font-weight: bolder;
}

.follow p {
  font-weight: lighter;
  opacity: 0.6;
}

.text-container>.followMe {
  font-family: Garamond, serif;
  position: absolute;
  top: 53%;
  padding: 15px 120px;
  align-self: center;
  font-weight: bold;
  border-radius: 30px;
  background-color: #fbcb0a;
  color: dimgrey;
  border: none;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.text-container>a:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.intro {
  font-family: Garamond, serif;
  width: calc(175px * 2 - 50px);
  position: absolute;
  top: 68%;
  align-self: center;
  text-align: justify;
}